<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.Address">
    <constructor-arg name="areaname" value="KasliwalGarden"></constructor-arg>
    <constructor-arg name="cityname" value="Aurangabad"></constructor-arg>
    </bean>
    <bean id="s" class="com.Student">
    <constructor-arg name="name" index="1" value="Priti"></constructor-arg>
   
    <constructor-arg name="rollno" index="0" value="1"></constructor-arg>
    <constructor-arg name="addr" ref="address"></constructor-arg> 
    </bean>
    </beans>